@import "normalize", "reset", "global", "variables", "mixin";

.news {
  padding-left: 1.5rem;
  position: relative;

  .news-section {
    display: flex;
    margin-bottom: 2rem;
    max-width: 550px;

    & > div:first-of-type {
      display: flex;
      align-items: center;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 10rem;
    left: 3rem;
    width: 2px;
    height: 80%;
    background-color: $timeline;
  }
}

.news-timeline {
  font-size: 2rem;
  color: $timeline;
  font-weight: bold;
  text-align: center;
  position: relative;

  .news-time-posted {
    z-index: 1;
    padding: 1rem 0;
    position: absolute;
    left: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: $white;
    transform: translate(-50%); //todo: delete
  }
}

.image-wrapper {
  margin: 0 1.5rem 0 4rem; //todo: delete rem

  .image-thumbnail {
    max-width: 120px;
  }
}

.news-category {
  color: $timeline;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  padding-left: .5rem ;
    border-left: 3px solid $category-line;

  // &::before {
  //   content: "";
  //   margin-right: 0.5rem;
  //   border-left: 3px solid $category-line;
  // }
}
